body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 234, 223);
    
}

#container{
    margin: 4em;
    flex: 1;
}

#form-new{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 18rem;
}

h1{
    font-size: 2.5em;
}