.input-pair{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

#form-new{
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 18rem;
}


input{
    width: 10em;
}