<% layout('layout/boilerplate') %>

    <h1>Edit Campground</h1>
    <form action="/campground/<%= camp._id %>?_method=PATCH" method="POST">
        <label for="name" >Title:</label>
        <input type="text" name="campground[title]" id="name" value="<%= camp.title %>">
        <label for="location">Location:</label>
        <input type="text" name="campground[location]" id="location" value="<%= camp.location %>">
        <button>Save Camp</button>
    </form>
    <a href="/campground/<%= camp._id %>">Back</a>
