<% layout('layout/boilerplate') %>
    <link rel="stylesheet" href="/css/new.css">

  
        <h1>Edit Campground</h1>
        <form id="form-new" action="/campground" method="POST">
            <section class="input-pair">
                <label for="name">Title:</label>
                <input type="text" name="campground[title]" id="name" value="<%= camp.title %>">
            </section>
            <section class="input-pair">
                <label for="price">Price:</label>
                <input type="text" name="campground[price]" id="price" value="<%= camp.price %>">
            </section>
            <section class="input-pair">
                <label for="Description">Description:</label>
                <input type="text" name="campground[description]" id="Description" value="<%= camp.description %>">
            </section>
            <section class="input-pair">
                <label for="image">Image URL:</label>
                <input type="text" name="campground[image]" id="image" value="<%= camp.image %>">
            </section>
            <button>Add Camp</button>
        </form>
    