<% layout('layout/boilerplate') %>
    <h1>Campgrouds</h1>
    <ul>
        <%for(let camp of camps){%>
            <li><b><a href="/campground/<%= camp._id %>"><%= camp.title %></a></b> - <%= camp.location %></li>    
        <%}%>
    </ul>

