<% layout('layout/boilerplate') %>
    <link rel="stylesheet" href="/css/new.css">

    <body>
        <h1>New Campground</h1>
        <form id="form-new" action="/campground" method="POST">
            <section class="input-pair">
                <label for="name">Title:</label>
                <input type="text" name="campground[title]" id="name">
            </section>
            <section class="input-pair">
                <label for="location">Location:</label>
                <input type="text" name="campground[location]" id="location">
            </section>
            <button>Add Camp</button>
        </form>
    </body>