<% layout('layout/boilerplate') %>
<body>
    <h1>New Campground</h1>
    <form action="/campground" method="POST">
        <label for="name">Title:</label>
        <input type="text" name="campground[title]" id="name">
        <label for="location">Location:</label>
        <input type="text" name="campground[location]" id="location">
        <button>Add Camp</button>
    </form>
</body>
