<% layout('layout/boilerplate') %>
<body>
    <h1><%= camp.title %></h1>
    <ul>
        <li><%= camp.location %></li>
    </ul>
    <a href="/campground/edit/<%= camp._id %>">Edit Camp</a>
    <form action="/campground/<%= camp._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    <a href="/campground">Back</a>
